/* Classes:

person_info
nameSound18
username
sound
nav
day-box.prep
day-box.CURRENT
day-box.COMPLETED
day
notes
reading-box
reading
prep-box
assignment_link
assignmentWidget.ASSIGNED
assignment-label
assignment-title
grading-box
lab-box

*/

.person_info {
 text-align: right;
}

//center text navigation & space out links

.nav {
    border: double;
    text-align: center;
    background: #c898da4d;
}

a {
    display: block;
    width: 100%;
    padding: 4px 4px 4px;
 
}

a:hover {
    background: #c898da;
}

.day-box.PREP {
    border-style: double;
    margin-bottom: 10px;
    background: #c898da4d;
}

.day {
    font-weight: bold;
    text-align: center;
    border: solid;
    border-width: 1px;
    margin: 1%;
    background: #c898da4d;
}

.day-box.CURRENT {
    border: double;
    background: #c898da4d;
}
.day-box.COMPLETED {
    border: double;
    margin-top: 1%;
    background: #c898da4d;
}

.reading, .assignment-label, .assignment-title, .grade {
    margin-left: 1%;
}

.assignment-title {
    font-size: 18px;
}

img.person_image {
    height: 170px;
    width: auto;
}

