/* Classes:

person_info
nameSound18
username
sound
nav
day-box.prep
day-box.CURRENT
day-box.COMPLETED
day
notes
reading-box
reading
prep-box
assignment_link
assignmentWidget.ASSIGNED
assignment-label
assignment-title
grading-box
lab-box

*/

.person_info 
{
 text-align: right; 
 background: green;
}
